<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.leaf.spring.mvc.expose.web"/>

    <!--<mvc:annotation-driven/>-->

    <!-- SimpleUrlHandlerMapping 拦截/** 转发给 default servlet处理 -->
    <!--<mvc:default-servlet-handler/>-->

    <!-- spring 自己处理静态资源  由ResourceHttpRequestHandler处理 -->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <mvc:view-resolvers>
        <mvc:jsp prefix="/WEB-INF/view/" view-names="index,topic"/>
    </mvc:view-resolvers>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="customArgumentResolvers">
            <list>
                <bean class="com.leaf.spring.mvc.expose.web.resovler.TestArgumentsResolver"/>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

</beans>